{% extends "common/base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/application/modules/sais/views/includes/css/coincidence.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/application/modules/sais/views/includes/js/coincidence.js"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="diveditcoincidencepage" class="divcoincidenceoperations">
        <div id="diveditcoincidence">
            <input type="hidden" name="coincidence_id" value="{{ coincidence_id }}">
            <label for="select_conclusion">Conclusion:</label><br/>
            <select name="selectconclusion">
                {% for conclusion in conclusions %}
                    <option value="{{ conclusion.conclusion_id }}" 
                            {% if conclusion.conclusion_id == selectedConclusion %} {{ 'selected' }} {% endif %}>{{ conclusion.conclusion_name }}
                    </option>
                {% endfor %}
            </select><br/>
            <label for="select_condition">Condition:</label><br/>
            <select name="selectcondition">
                {% for condition in conditions %}
                     <option value="{{ condition.condition_id }}" 
                            {% if condition.condition_id == selectedCondition %} {{ 'selected' }} {% endif %}>{{ condition.condition_name }}
                    </option>
                {% endfor %}
            </select><br>
            <input id="cbPresence" type="checkbox" name="presence" {% if presence == 1 %} {{ 'checked' }} {% endif %}>
            <label for="cbPresence">presence</label><br/>
            <div class="coincidenceoperationsbuttons-wrapper">
                <input type="button" name="submitnewcoincidence" value="Edit coincidence">
                <input type="button" name="deletecoincidence" value="Delete coincidence">
            </div>
        </div>
        <div class="buttonconclusion-wrapper">
            <input id="buttonconclusion" type="button" name="conclusion" value="Conclusion">
        </div>
            <div id="divconclusion">
                <input name="conclusion_name" value="{{ conclusions[selectedConclusion-1].conclusion_name }}"><br>
                <input type="button" name="submitnewconclusion" value="Edit conclusion">
                <input type="button" name="deleteconclusion" value="Delete conclusion">
            </div>
        <div class="buttoncondition-wrapper">
            <input id="buttoncondition" type="button" name="condition" value="Condition">
        </div>
        <div id="divcondition">
            <input name="condition_name" value="{{ conditions[selectedCondition-1].condition_name }}"><br>
            <input type="button" name="submitnewcondition" value="Edit condition"> 
            <input type="button" name="deletecondition" value="Delete condition">
        </div>
        <div id="divmessages"></div>
    </div>
{% endblock %}