{% extends "common/base.html.twig" %}
{% block title %}
    Show coincidences
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/application/modules/sais/views/includes/css/jquery/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/application/modules/sais/views/includes/css/coincidence.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/application/modules/sais/views/includes/js/coincidence.js"></script>
    <script type="text/javascript" src="/application/modules/sais/views/includes/js/jquery/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#show_coincidences').dataTable({bStateSave: true});
        });
    </script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="show_coincidences_wrapper">
        <table id="show_coincidences">
            <thead>
            <th>Coincidence ID</th>
            <th>Conclusion</th>
            <th>Condition</th>
            <th>Presence</th>
            <th>Operations with record</th>
            </thead>
            <tbody>
                {% for coincidence in coincidences %}
                    <tr>
                        <td>{{ coincidence.coincidence_id }}</td>
                        <td>{{ coincidence.conclusion_name }}</td>
                        <td>{{ coincidence.condition_name }}</td>
                        <td>{{ coincidence.presence }}</td>
                        <td>
                            {% set recordId = coincidence.coincidence_id %}
                            <input type="hidden" name="coincidence_id" value="{{ recordId }}">
                            <a href="/sais/coincidence/prepareedit/{{ recordId }}">edit</a><br/>
                            <a id="delete_coincidence_{{ recordId }}" href="">delete</a><br/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}