{% extends "common/base.html.twig" %}
{% block title %}
    Show coincidences
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/application/modules/sais/views/includes/js/coincidence.js"></script>
{% endblock %}
{% block body %}
    <table>
        <thead>
        <th><a id="coincidence_id" href="">Coincidence ID</a></th>
        <th><a id="conclusion_name" href="">Conclusion</a></th>
        <th><a id="condition_name" href="">Condition</a></th>
        <th>Presence</th>
        <th>Operations with record</th>
        </thead>
        <tbody>
            {% for coincidence in coincidences %}
                <tr>
                    <td>{{ coincidence.coincidence_id }}</td>
                    <td>{{ coincidence.conclusion_name }}</td>
                    <td>{{ coincidence.condition_name }}</td>
                    <td>{{ coincidence.presence }}</td>
                    <td>
                        {% set recordId = coincidence.coincidence_id %}
                        <input type="hidden" name="coincidence_id" value="{{ recordId }}">
                        <a href="/sais/coincidence/prepareedit/{{ recordId }}">edit</a><br/>
                        <a id="delete_coincidence" href="">delete</a><br/>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}